{% load static %}

<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'cvmainapp/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'cvmainapp/img/icons/logo_icon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'cvmainapp/img/icons/180.png' %}">
  <link rel="manifest" href="{% static 'cvmainapp/manifest.webmanifest' %}">
  <link rel="stylesheet" href="{% static 'cvmainapp/css/normalize.min.css' %}">
  <link rel="stylesheet" href="{% static 'cvmainapp/css/style.min.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;600;700&family=Montserrat:wght@300;400;600&family=Sen:wght@700&display=swap"
    rel="stylesheet">
  <title>Резюме &ndash; Александр Голубцов</title>
</head>

<body class="page-body">
  <header class="main-header">
    <img class="main-header-logo mobile-only" src="{% static 'cvmainapp/img/Alex.svg' %}" width="30" height="25" alt="Логотип Alex">
    <button class="hamburger hamburger--collapse mobile-only" onclick="show_nav_menu(this)" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="link-change-lang-box desktop-only">
      <a class="link-change-lang" href="{% url 'index_page' 'eng' %}">
        <img class="link-change-lang-icon" src="{% static 'cvmainapp/img/eng.svg' %}" width="36" height="36" alt="Флаг США">
        eng
      </a>
    </div>
    <nav class="site-navigation">
      <h2 class="site-navigation-subject mobile-only">Александр Голубцов</h2>
      <ul class="site-navigation-list">
        <li class="site-nav-item"><a class="nav-item-link" href="#features">Обо мне</a></li>
        <li class="site-nav-item"><a class="nav-item-link" href="#work_experience">Опыт</a></li>
        <li class="site-nav-item"><a class="nav-item-link" href="#skills">Навыки</a></li>
        <li class="site-nav-item"><a class="nav-item-link" href="#projects">Проекты</a></li>
        <li class="site-nav-item"><a class="nav-item-link" href="#contacts">Контакты</a></li>
      </ul>
      <div class="link-change-lang-box mobile-only">
        <a class="link-change-lang" href="{% url 'index_page' 'eng' %}">
          <img class="link-change-lang-icon" src="{% static 'cvmainapp/img/eng.svg' %}" width="36" height="36" alt="Флаг США">
          eng
        </a>
      </div>
    </nav>
  </header>
  
  <main class="container">
    <div class="first-screen-underlay-1"></div>
    <div class="first-screen-underlay-2"></div>
    {% block content %}
    {% endblock %}
    <hr class="container-bottom-separator">
  </main>

  <footer class="main-footer">
    <div class="main-footer-underlay"></div>
    <img class="main-footer-logo" src="{% static 'cvmainapp/img/Alex.svg' %}" width="60" height="51" alt="Логотип Alex">
    <p class="main-footer-copyright">&copy; All rights reserved {{ datetime_now.year }} • Александр Голубцов</p>
  </footer>

  <script src="{% static 'cvmainapp/js/hamburger.js' %}"></script>
  <script src="{% static 'cvmainapp/js/scrolling_down.js' %}"></script>
  <script src="{% static 'cvmainapp/js/show_more.js' %}"></script>
</body>

</html>
